$primary-color : floralwhite ;
$secondary-color: rgb(230, 18, 18);
$tercer-color: grey;
$cuarto-color: rgb(236, 233, 233);
$quinto-color: rgb(108, 107, 107);
$sexto-color: rgb(223, 219, 219);
$sept-color: rgb(114, 17, 17);
$octavo-color: rgb(223, 219, 219);
$nov-color: rgb(8, 8, 8);
$decimo-color: rgb(255, 255, 255);